---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import { SITE } from "../config";
import '../styles/main.scss';
const navItems = [
	{
		title: 'Platform UI',
		description: 'Everything related to the web-based platform',
		url: '/platform-ui/introduction',
		img: '/Core.jpg'
	},
	{
		title: 'Native Mobile UI',
		description: 'Documentation for iOS and Android apps',
		url: '/native-mobile-ui/introduction',
		img: '/Components.jpg'
	},
	{
		title: 'Product Copy',
		description: 'Copy guidelines and templates for product usage',
		url: '/product-copy/introduction',
		img: '/Patterns.jpg'
	}
]


---


<html dir={ 'ltr'} lang={ 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO  canonicalURL={Astro.canonicalURL} />
		<title>{SITE.title}</title>
	</head>

	<body class="justify-center ">
		<div class="bg-slate-100 min-h-screen text-center home">
			<header class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-700 to-black">
				<div class="flex items-center justify-center p-3">
					<img src="/bluevine-mark.svg" alt="Bluevine System Logo" class="w-12" >
				</div>
				<h1 class=" text-white text-4xl drop-shadow-sm">{SITE.title}</h1>
				<p class="text-lg mt-4 text-slate-300">{SITE.description}</p>
			</header>
			<nav>
				<ul class="flex gap-4 max-w-5xl mx-auto text-left mt-12">
				{
					navItems.map(({ title, description, url, img }) => (
						<a href={url} class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4">
							<img src={img} alt={title}>
							<h2 class="text-lg font-medium">{title}</h2>
							<p class="text-slate-500 text-center">{description}</p>
						</a>
					))
				}
				</ul>
			</nav>
		</div>

	</body>
</html>

<script is:inline>
</script>
