---
import { SITE, topNav } from '../../config';
import SkipToContent from './SkipToContent.astro';
import BluevineLogo from './BluevineLogo.astro'
const { currentPage } = Astro.props;
const currentPageMatch = currentPage.slice(1);

const TOPNAV = topNav


const isCurrentPage = (item) => {
	if (item.section) {
		return currentPageMatch.includes(item.section)
	}
	return false;
};







const getLinkClasses = (item) => {
	const baseClasses = "nav-item"
	const activeClasses = " active "
	
	if (isCurrentPage(item)) {
		return baseClasses + activeClasses;
	} else {
		return baseClasses;
	}
}




// {item => (<a title="Native Mobile UI"  class={getLinkClasses(item)} href='/native-mobile-ui/introduction'>
// 				<p class="self-center">Native Mobile UI</p>
// 			</a>)}
// 			{item => (<a title="Product Copy"  class={getLinkClasses(item)} href='/product-copy/introduction'>
// 				<p class="self-center">Product Copy</p>
// 			</a>)}


---




<header class=" text-slate-900 page-content h-16">
	<SkipToContent />
	<nav title="Top Navigation" class="grid-cols-12 grid gap-x-6 grid-rows-1 h-full">


		<a class="text-lg font-medium col-span-2 flex flex-row gap-2 self-center" href="/">
			<BluevineLogo size="16px" color='#193dc4' />
			<h1>
				{ "Design Documentation"}
			</h1>
		</a>
		<nav class="col-span-9 flex ">
			{TOPNAV.map(item => ( 
			<a title={item.text} class={getLinkClasses(item)} href={item.link}>
				<p class="self-center" >{item.text}</p>
			</a>)

			)}

		</div>
		<div class="col-span-2">
		
			<!-- <button onclick="toggleDarkMode()">theme</button> -->
			<!-- { SITE.twitter &&
				(<a title="Twitter" class="opacity-90 hover:opacity-100 hover:bg-blue-100 p-2 rounded-full transition-colors" href={'https://twitter.com/'+SITE.twitter}>
					<img class="h-7" src="/twitter.svg" alt="twitter logo">
				</a>)
			}
			{
				SITE.github &&
				(<a title="Github" class="opacity-80 hover:opacity-100 hover:bg-slate-200 p-2 rounded-full transition-colors" href={'https://github.com/'+SITE.github}>
					<img class="h-7" src="/github.svg" alt="github logo">
				</a>)
			}
			{
				SITE.linkedin &&
				(<a title="linkedin" class="opacity-80 hover:opacity-100 hover:bg-blue-50 p-2 rounded-full transition-colors" href={'https://linkedin.com/in/'+SITE.linkedin}>
					<img class="h-7" src="/linkedin.svg" alt="linkedin logo">
				</a>)
			} -->
		</div>
	</nav>
</header>

<script is:inline>
	// function toggleDarkMode() {
	// 	const body = document.body;
	// 	body.classList.toggle('dark');
	// 	console.log('dark mode toggled');
	// }
</script>
