---
import { platformUISidebar, nativeMobileUISidebar, productCopySidebar } from '../config';
const { currentPage } = Astro.props; //passes the url
const currentPageMatch = currentPage.slice(1);


const isCurrentPage = (item) => {
	if (item.link) {
		return item.link.includes(currentPageMatch)
	}
	return false;
};

const getLinkClasses = (item) => {
	const baseClasses = "nav-item sidebar"
	const activeClasses = " active"
	
	if (isCurrentPage(item)) {
		return baseClasses + activeClasses;
	} else {
		return baseClasses;
	}
}


let SIDEBAR = platformUISidebar

const setNav = () => {
	if (currentPageMatch.includes('platform-ui')){
		SIDEBAR = platformUISidebar
	}
	else if (currentPageMatch.includes('native-mobile-ui')) {
		SIDEBAR = nativeMobileUISidebar
	} 
	else if (currentPageMatch.includes('product-copy')) {
		SIDEBAR = productCopySidebar
	} 

	else {
		return 'dingle berries'
	}
}
setNav()

---


<aside title="Site Navigation">
	<!-- <Debug content={navigation} /> -->
	<nav aria-labelledby="grid-left" class=" ">

			{SIDEBAR.map(item => 
				(item.header ? 
				<h2 class="mt-4 font-semibold">{item.text}</h2> : 
				<div class="sidebar-border">
					<a class={getLinkClasses(item)} href={item.link}>
						<p>{item.text}</p>
					</a>
				</div>)
				)}

	</nav>
</aside>

<script is:inline>
	window.addEventListener('DOMContentLoaded', (event) => {
		var target = document.querySelector('[aria-current="page"]');
		if (target && target.offsetTop > window.innerHeight - 100) {
			document.querySelector('.nav-groups').scrollTop = target.offsetTop;
		}
	});
</script>

