---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';
import * as CONFIG from '../config';
import '../styles/main.scss';

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
// const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.mdx`;

---

<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={Astro.canonicalURL} />
		<title>{content.title ? `${content.title} • ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
	</head>

	<body class="justify-center ">
		<div class="fixed top-0 z-10 w-full bg-slate-100 bg-opacity-80 backdrop-blur-md border-b justify-center flex">
			<Header currentPage={currentPage} />
		</div>
		<div class="flex justify-center top-14">
			<div class="page-content grid grid-cols-12 gap-6">
				<div class="col-span-2 top-0 flex border-r ">
					<div class=" flex-1 fixed mt-24">
						<LeftSidebar currentPage={currentPage} />
					</div>
				</div>
				<main class=" col-span-8 pr-4 mt-16 pb-16">
					<div>
						<PageContent content={content}>
							<slot />
						</PageContent>
					</div>
				</main>
				<div class="col-span-2 top-0  flex">
					<div class=" flex-1 fixed mt-24">
						<RightSidebar content={content} />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
